.card {
    width: 190px;
    height: 226px;

    padding: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    background-color: #212121;
    border: 2px solid #212121;
    border-radius: 30px;

    box-shadow: 15px 15px 30px #191919;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    gap: 1rem;
}


.card:hover {
    background-color: #4F4F4FCC;
}

.cardFocus {
    border: 2px solid #76DD00;
}


.image {
    max-width: 145px;
    max-height: 145px;
    object-fit: cover;
    opacity: 0.8;
}


.icon {
    color: currentColor;
    display: flex;
    filter: drop-shadow(0 0 1px currentColor);
}


/* text */
.name {
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    padding: 3px 0;
}

.txtAlive {
    color: rgb(30, 168, 30);
}

.txtDead {
    color: red;
}

.txtUnknown {
    color: rgb(21, 46, 209);
}