.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    gap: 0.75rem;
}

.header {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    align-items: end;
}

@media (max-width: 768px) {
    .header {
        justify-content: center;
        align-items: center;
    }
}

.characterShell {
    position: relative;
    z-index: 2;
}

.footer {
    width: 100vw;
    height: 120px;
    background: linear-gradient(180deg, #9edf25 3.03%, #1e2e00 177.63%);
    margin-top: -45px;
    z-index: 1;
}