@import "tailwindcss";

:root {
    --background: #171717;
    --foreground: #FFFFFF;

    --neon-green: #44FF00;
    --blue-rick: #A2E1F5;
    --yellow-morty: #FAE824;
    --purple: #973999;
}


body {
    background-image: url("../../../assets/images/background.jpg");
    background-size: auto;
    background-position: -50rem -17.5rem;
    background-repeat: repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 1440;
    height: 150;
    top: 873px;
    opacity: 1;
    position: absolute;
    background: linear-gradient(180deg, #9EDF25 3.03%, #1E2E00 177.63%);
    display: flex;
    width: max-content;
}